body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
}
.float{
  transition: 200ms linear;
  position: absolute;
  top: 10%;
  right: 10%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: black;
  display: grid;
  place-items: center;
  color: white;
  border: 2px solid black;
  &:hover{
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .float p{
  font-size: 0.8rem;
  margin: unset;
  padding: unset;
}
}
.float i{
  font-size: 2rem;
}
